Repository fedora-sysv/ifcfg-devname: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add Test label, Remove test label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add Test label:
  label:
    add:
    - tests

Remove test label:
  label:
    remove:
    - tests

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add Makefile
  Makefile
  rules/60-net.rules
  rust-ifcfg-devname.spec
  usr/lib/udev/rules.d/60-net.rules
Due: Remove source label, Remove test label, Remove configuration label, Remove documentation label

spec: fix License tag
  .gitignore
  rust-ifcfg-devname.spec
Due: Remove source label, Remove test label, Remove configuration label, Remove documentation label

lint: fix clippy warnings
  src/lib.rs
Due: Add source label, Remove test label, Remove configuration label, Remove documentation label

ci: add codecov token
  .github/workflows/rust.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

packit: fix configuration
  .packit.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: remove EOL Fedora releases from CI
  .github/workflows/rust.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: superlinter set VALIDATE_JSCPD to false
  .github/workflows/linter.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: fix dnf5 missing groupinstall
  .github/workflows/rust.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

v1.1.1
  Cargo.lock
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add Test label: any of: ^tests/
  Remove test label: not (any of: ^tests/)
  Add configuration label: ((any of: \.yml$) or (any of: \.json$)) or (any of: \.toml$)
  Remove configuration label: ((not (any of: \.yml$)) and (not (any of: \.json$))) and (not (any of: \.toml$))
  Add documentation label: any of: \.md$
  Remove documentation label: not (any of: \.md$)
