Repository fedora-sysv/ifcfg-devname: changes, and which Mergify rules are due for each by the changed paths.
All: Add source label, Remove source label, Add Test label, Remove test label, Add configuration label, Remove configuration label, Add documentation label, Remove documentation label

Add source label:
  label:
    add:
    - source

Remove source label:
  label:
    remove:
    - source

Add Test label:
  label:
    add:
    - tests

Remove test label:
  label:
    remove:
    - tests

Add configuration label:
  label:
    add:
    - configuration

Remove configuration label:
  label:
    remove:
    - configuration

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add test for case of panic when no ENV is passed
  tests/integration_test.rs
Due: Remove source label, Add Test label, Remove configuration label, Remove documentation label

Don't panic when ENV isn't set
  src/main.rs
Due: Add source label, Remove test label, Remove configuration label, Remove documentation label

doc: Update Mergify badge
  README.md
Due: Remove source label, Remove test label, Remove configuration label, Add documentation label

ci: Run rust ci on Fedora
  .github/workflows/rust.yml
  .github/workflows/test.yml
  README.md
Due: Remove source label, Remove test label, Add configuration label, Add documentation label

ci: Setup release-drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: Setup OSSF scorecard status
  .github/workflows/scorecard-analysis.yml
  README.md
Due: Remove source label, Remove test label, Add configuration label, Add documentation label

ci: Setup Issue Templates
  .github/ISSUE_TEMPLATE/issue-template.yml
  .github/advanced-issue-labeler.yml
  .github/workflows/issue-labeler.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: update `.packit.yml` - add `srpm_build_deps`
  .packit.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: Increase Dependabot interval
  .github/dependabot.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

license: Add SPDX license identifier
  src/lib.rs
  src/logger.rs
  src/main.rs
  src/parser.rs
  src/scanner.rs
  tests/integration_test.rs
Due: Add source label, Add Test label, Remove configuration label, Remove documentation label

license: migrate spec-file to SPDX license identifiers
  rust-ifcfg-devname.spec
Due: Remove source label, Remove test label, Remove configuration label, Remove documentation label

fix: `special-module-name` warning for `mod lib`
  src/main.rs
Due: Add source label, Remove test label, Remove configuration label, Remove documentation label

ci(mergify): drop deprecated option
  .mergify.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: drop `ossf/scorecard` workflow
  .github/workflows/scorecard-analysis.yml
  README.md
Due: Remove source label, Remove test label, Add configuration label, Add documentation label

ci: use clippy with SARIF support
  .github/workflows/rust.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: drop f36 from CI - soon to be EOL
  .github/workflows/rust.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci(mergify): remove trailing whitespace
  .mergify.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

build(deps): bump regex to 1.9.1
  Cargo.lock
  Cargo.toml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: add Fedora 39 to the CI matrix
  .github/workflows/rust.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

ci: drop/replace unmaintained rust actions
  .github/workflows/rust.yml
Due: Remove source label, Remove test label, Add configuration label, Remove documentation label

udev: Import 60-net.rules from initscripts
  rust-ifcfg-devname.spec
  usr/lib/udev/rules.d/60-net.rules
Due: Remove source label, Remove test label, Remove configuration label, Remove documentation label

Path conditions:
  Add source label: any of: ^src/
  Remove source label: not (any of: ^src/)
  Add Test label: any of: ^tests/
  Remove test label: not (any of: ^tests/)
  Add configuration label: ((any of: \.yml$) or (any of: \.json$)) or (any of: \.toml$)
  Remove configuration label: ((not (any of: \.yml$)) and (not (any of: \.json$))) and (not (any of: \.toml$))
  Add documentation label: any of: \.md$
  Remove documentation label: not (any of: \.md$)
