Repository fedora-sysv/ifcfg-devname: changes, and which Mergify rules are due for each by the changed paths.
All: Source label, Source label - romove, Test label, Test label - romove

.mergify.yml:

pull_request_rules:
  - name: Source label
    conditions:
      - files~=^src/ # is true if any files in the tests directory is modified
    actions:
      label:
        add:
          - ðŸ“œ source

  # remove source label
  - name: Source label - romove
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - ðŸ“œ source

  - name: Test label
    conditions:
      - files~=^tests/ # is true if any files in the tests directory is modified
    actions:
      label:
        add:
          - ðŸ§ª tests

  # remove test label
  - name: Test label - romove
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - ðŸ§ª tests

  - name: Automatic merge on approval
    conditions:
      - "#approved-reviews-by>=1"
    actions:
      merge:
        method: merge

Update mergify badge
  README.md
Due: Source label - romove, Test label - romove

ci(Mergify): configuration update
  .mergify.yml
Due: Source label - romove, Test label - romove

args: check number of arguments
  src/main.rs
Due: Source label, Test label - romove

logging: Add opton to log on stderr when syslog isn't available
  src/main.rs
Due: Source label, Test label - romove

tests: Add testcase for whitespaces
  tests/integration_test_data/6/about.json
  tests/integration_test_data/6/cmdline
  tests/integration_test_data/6/ifcfgs/ifcfg-eth0
  tests/integration_test_data/6/ifcfgs/ifcfg-eth0 copy
  tests/integration_test_data/ABOUT.md
Due: Source label - romove, Test label, Test label - romove

Ignore whitespaces in ifcfg files and adjust allowed length of devicename
  src/main.rs
Due: Source label, Test label - romove

tests: Add testcase for comments in ifcfg files
  tests/integration_test_data/6/ifcfgs/ifcfg-eth1
  tests/integration_test_data/7/about.json
  tests/integration_test_data/7/cmdline
  tests/integration_test_data/7/ifcfgs/ifcfg-eth0
  tests/integration_test_data/7/ifcfgs/ifcfg-eth1
  tests/integration_test_data/ABOUT.md
Due: Source label - romove, Test label, Test label - romove

ci: add build job
  .github/workflows/ifcfg-devname-test-coverage.yml
Due: Source label - romove, Test label - romove

ci: fix missing ``;`` and needs keyword
  .github/workflows/ifcfg-devname-test-coverage.yml
Due: Source label - romove, Test label - romove

ci: fix needs
  .github/workflows/ifcfg-devname-test-coverage.yml
Due: Source label - romove, Test label - romove

ci: fix err: every step must define a `uses` or `run` key
  .github/workflows/ifcfg-devname-test-coverage.yml
Due: Source label - romove, Test label - romove

Update README.md
  README.md
Due: Source label - romove, Test label - romove

ci: fix env
  .github/workflows/ifcfg-devname-test-coverage.yml
Due: Source label - romove, Test label - romove

spec: generate spec using rust2rpm
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove

spec: update Spec file
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove

spec: rename spec
  ifcfg-devname.spec
Due: Source label - romove, Test label - romove

spec: add description
  ifcfg-devname.spec
Due: Source label - romove, Test label - romove

src: minor tweaks
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: Source label, Test label - romove

logging: use logger_init() and macros
  src/main.rs
Due: Source label, Test label - romove

ci: Devide codecov on unit tests and integration test coverage
  .github/workflows/ifcfg-devname-test-coverage.yml
  codecov.yml
  src/main.rs
Due: Source label, Test label - romove

src: minor tweaks
  src/main.rs
Due: Source label, Test label - romove

src: Use Err() instead of Ok(None)
  src/main.rs
Due: Source label, Test label - romove

whitespace
  src/main.rs
Due: Source label, Test label - romove

ci: update coverage target
  .codecov.yml
Due: Source label - romove, Test label - romove

bot: enable dependabot
  .github/dependabot.yml
Due: Source label - romove, Test label - romove

ci: update mergify
  .mergify.yml
Due: Source label - romove, Test label - romove

cargo: add properties required before release
  Cargo.toml
  ifcfg-devname.spec
Due: Source label - romove, Test label - romove

Update README
  README.md
Due: Source label - romove, Test label - romove

main: Update format
  src/main.rs
Due: Source label, Test label - romove

specfile: Generate specfile using rust2rpm v20
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove

Cargo.toml: Exclude unrelated files from crate
  Cargo.toml
Due: Source label - romove, Test label - romove

Packit: add configuration
  .packit.yml
Due: Source label - romove, Test label - romove

ifcfg-devname v0.1.1
  Cargo.lock
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove

Depends on syslog ^5.0.0
  .packit.yml
  Cargo.lock
  Cargo.toml
Due: Source label - romove, Test label - romove

Packit: Run copr build on PR as well
  .packit.yml
Due: Source label - romove, Test label - romove

mergify: Add checks for packit ci
  .mergify.yml
Due: Source label - romove, Test label - romove

packit: use centos stream 9
  .packit.yml
Due: Source label - romove, Test label - romove

clean code: move geting env to function
  src/main.rs
Due: Source label, Test label - romove
