Repository fedora-sysv/ifcfg-devname: changes, and which Mergify rules are due for each by the changed paths.
All: Source label, Source label - romove, Test label, Test label - romove, Configuration label, Configuration label - romove, Documentation label, Documentation label - romove

.mergify.yml:

pull_request_rules:
  - name: Source label
    conditions:
      - files~=^src/ # is true if any files in the tests directory is modified
    actions:
      label:
        add:
          - source

  # remove source label
  - name: Source label - romove
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  - name: Test label
    conditions:
      - files~=^tests/ # is true if any files in the tests directory is modified
    actions:
      label:
        add:
          - tests

  # remove test label
  - name: Test label - romove
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - tests

  - name: Configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
    actions:
      label:
        add:
          - configuration

  # remove configuration label
  - name: Configuration label - romove
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
    actions:
      label:
        remove:
          - configuration

  - name: Documentation label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - documentation

  # remove documentation label
  - name: Documentation label - romove
    conditions:
      - -files~=\.md$
    actions:
      label:
        remove:
          - documentation

  - name: Automatic merge on approval
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Build
      - check-success=Unit test coverage
      - check-success=Integration test coverage
      - check-success=packit/rpm-build-fedora-rawhide-x86_64
      - check-success=packit/rpm-build-centos-stream-9-x86_64

    actions:
      merge:
        method: rebase

spec: make Summary shorter
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

v1.0.1
  Cargo.lock
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

ci(publish): Access secrets correctly
  .github/workflows/publish.yml
Due: Source label - romove, Test label - romove, Configuration label, Documentation label - romove

core: Drop code related to kernel-cmdline
  src/lib.rs
  src/main.rs
  src/parser.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

tests: Drop unit tests related to kernel-cmdline
  src/lib.rs
  src/parser.rs
  tests/unit_test_data/cmdlines/1_should_pass
  tests/unit_test_data/cmdlines/2_should_fail
Due: Source label, Test label, Test label - romove, Configuration label - romove, Documentation label - romove

tests: Don't use cmdline files when running integration tests
  tests/integration_test.rs
Due: Source label - romove, Test label, Test label - romove, Configuration label - romove, Documentation label - romove

tests: Update datasets for integration testing
  tests/integration_test_data/1/about.json
  tests/integration_test_data/1/cmdline
  tests/integration_test_data/2/about.json
  tests/integration_test_data/2/cmdline
  tests/integration_test_data/3/about.json
  tests/integration_test_data/3/cmdline
  tests/integration_test_data/4/about.json
  tests/integration_test_data/4/cmdline
  tests/integration_test_data/4/ifcfgs/ifcfg-eth0
  tests/integration_test_data/4/ifcfgs/ifcfg-eth1
  tests/integration_test_data/5/about.json
  tests/integration_test_data/5/ifcfgs/ifcfg-eth0
  tests/integration_test_data/5/ifcfgs/ifcfg-eth1
  tests/integration_test_data/6/about.json
  tests/integration_test_data/6/cmdline
  tests/integration_test_data/6/ifcfgs/ifcfg-eth0
  tests/integration_test_data/6/ifcfgs/ifcfg-eth1
  tests/integration_test_data/7/about.json
  tests/integration_test_data/7/cmdline
  tests/integration_test_data/ABOUT.md
Due: Source label - romove, Test label, Test label - romove, Configuration label, Documentation label

ci(Mergify): configuration update
  .mergify.yml
Due: Source label - romove, Test label - romove, Configuration label, Documentation label - romove

doc: Drop kernel cmdline informations
  README.md
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label

doc: Make descriptions shorter and exclude kernel cmdline
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

doc: update formating
  README.md
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label

spec: Specify license for ifcfg-devname binary
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

v1.1.0
  Cargo.lock
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

src: idiomatic rust - cargo fmt
  src/lib.rs
  src/logger.rs
  src/main.rs
  src/parser.rs
  src/scanner.rs
  tests/integration_test.rs
Due: Source label, Test label, Test label - romove, Configuration label - romove, Documentation label - romove

src: Clean-up clippy warnings
  src/lib.rs
  src/main.rs
  src/parser.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

ci: Add linter workflow
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/linter.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
Due: Source label - romove, Test label - romove, Configuration label, Documentation label

ci: Update Dependabot - github-actions
  .github/dependabot.yml
Due: Source label - romove, Test label - romove, Configuration label, Documentation label - romove

packit: Drop `metadata` keyword
  .packit.yml
Due: Source label - romove, Test label - romove, Configuration label, Documentation label - romove

udev: Import 60-net.rules from initscripts
  rust-ifcfg-devname.spec
  usr/lib/udev/rules.d/60-net.rules
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

doc: Update README
  README.md
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label

Don't panic when ENV isn't set
  src/main.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove
