Repository fedora-sysv/ifcfg-devname: changes, and which Mergify rules are due for each by the changed paths.
All: Source label, Source label - romove, Test label, Test label - romove, Configuration label, Configuration label - romove, Documentation label, Documentation label - romove

.mergify.yml:

pull_request_rules:
  - name: Source label
    conditions:
      - files~=^src/ # is true if any files in the tests directory is modified
    actions:
      label:
        add:
          - source

  # remove source label
  - name: Source label - romove
    conditions:
      - -files~=^src/
    actions:
      label:
        remove:
          - source

  - name: Test label
    conditions:
      - files~=^tests/ # is true if any files in the tests directory is modified
    actions:
      label:
        add:
          - tests

  # remove test label
  - name: Test label - romove
    conditions:
      - -files~=^test/
    actions:
      label:
        remove:
          - tests

  - name: Configuration label
    conditions:
      - or:
          - files~=\.yml$
          - files~=\.json$
    actions:
      label:
        add:
          - configuration

  # remove configuration label
  - name: Configuration label - romove
    conditions:
      - and:
          - -files~=\.yml$
          - -files~=\.json$
    actions:
      label:
        remove:
          - configuration

  - name: Documentation label
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - documentation

  # remove documentation label
  - name: Documentation label - romove
    conditions:
      - -files~=\.md$
    actions:
      label:
        remove:
          - documentation

  - name: Automatic merge on approval
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=Build
      - check-success=Unit test coverage
      - check-success=Integration test coverage
      - check-success=packit/rpm-build-fedora-rawhide-x86_64
      - check-success=packit/rpm-build-centos-stream-9-x86_64

    actions:
      merge:
        method: rebase

clean code: move logging to separate file
  src/logger.rs
  src/main.rs
  src/parse.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

clean code: small tweaks
  src/main.rs
  src/parse.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

clean code: outsource unit tests to separate file
  src/main.rs
  src/scan.rs
  src/unit_test.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

clean code: outsource some code to lib.rs
  src/lib.rs
  src/main.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

clean code: get rid of useless function
  src/main.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

clean code: small tweaks
  src/logger.rs
  src/unit_test.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

Use Rust 2021
  Cargo.toml
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

clean code: outsource test mode checks
  src/lib.rs
  src/main.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

test: Test if is_test_mode function works
  src/lib.rs
  src/main.rs
  src/unit_test.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

test: Add checks for lib functions
  src/unit_test.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

clean code: small tweaks
  src/main.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

test: setup_sederr_logging()
  src/lib.rs
  src/logger.rs
  src/main.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

test: move scan related tests to scanner.rs file
  src/logger.rs
  src/main.rs
  src/scanner.rs
  src/unit_test.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

tests: move tests to relevant places
  src/lib.rs
  src/unit_test.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

tests: get rid of unit-tests.rs file
  src/main.rs
  src/parser.rs
  src/unit_test.rs
  tests/integration_test.rs
Due: Source label, Test label, Test label - romove, Configuration label - romove, Documentation label - romove

Add get_mac_address()
  src/lib.rs
  src/main.rs
  src/parser.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

test: test getting mac address
  src/lib.rs
  src/logger.rs
  src/main.rs
  src/parser.rs
  src/scanner.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

clean code: small tweaks
  src/lib.rs
  src/main.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

Fuzz: add Afl dependencies
  Cargo.lock
  Cargo.toml
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

ifcfg-devname v0.1.2
  Cargo.lock
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

Fuzz: get rid of afl stuff
  Cargo.lock
  Cargo.toml
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

ifcfg-devname v0.1.3
  Cargo.lock
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

repo: update links to fedora-sysv org
  Cargo.toml
  README.md
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label

v0.1.4
  Cargo.lock
  Cargo.toml
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

ci(Mergify): configuration update
  .mergify.yml
Due: Source label - romove, Test label - romove, Configuration label, Documentation label - romove

ci: make it simple
  .github/workflows/ifcfg-devname-test-coverage.yml
  README.md
Due: Source label - romove, Test label - romove, Configuration label, Documentation label

spec: Update specfile using rust2rpm v20
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

test: ignore `connect_to_syslog()` test
  src/logger.rs
Due: Source label, Test label - romove, Configuration label - romove, Documentation label - romove

dependabot: lower frequency to weekly
  .github/dependabot.yml
Due: Source label - romove, Test label - romove, Configuration label, Documentation label - romove

v1.0.0
  Cargo.lock
  Cargo.toml
  rust-ifcfg-devname.spec
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label - romove

ci: add workflow for publishing to cargo.io
  .github/workflows/publish.yml
Due: Source label - romove, Test label - romove, Configuration label, Documentation label - romove

doc: Update README
  README.md
Due: Source label - romove, Test label - romove, Configuration label - romove, Documentation label
